.ctrlpanel{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #fff;
	border-top: 2px solid #00bcd4;
	min-width: 200px;
	min-height: 45px;
}
.ctrlpanel .line{
	height: 45px;
	line-height: 45px;
	padding:0px 16px;
}